.buttonContainer{
    display: flex;
    height: 70%;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}
.buttonContainer:focus{
    outline: none;
}
.shadow{
    box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.75);
}
.button{
    height: 100%;
    border: none;
    padding: 0 15px;
}
.button:nth-child(1) {
    background-color: rgb(210,0,11);
    color:white
 }