.mainContainer{
    height: 100%;
    width: 100%;
    display:flex;
    padding: 0 20px;
    color :gray

}
.mainContainer > * {
    margin: auto 0;
    display: flex;
}
.filename{
    flex:1;
}
.deleteIcon{
    margin: auto;
    background:  rgb(210,0,11);
    height: 100%;
    /* width: fit-content; */
    width: 35px;
    /* padding: 0 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.deleteIcon > i{
    color:white;

}